{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "apis": "./src/apis",
          "components": "./src/components",
          "context": "./src/context",
          "helpers": "./src/helpers",
          "assets": "./src/assets",
          "pages": "./src/pages",
          "redux": "./src/redux"
        }
      }
    ]
  ]
}
