 .select{
    position: relative;
    display: flex;
    justify-content: end;
    width: 12em;
    height: 2em;
    line-height: 3;
    color: orange;
    border-radius: .25em;
 }

 .select option:hover{
    background: orange;
    color: white;
 }

