{
  "plugins": [
    ["module-resolver", {
      "alias": {
        "~": "./src"
        // "@components": "./src/components",
        // "@context": "./src/context",
        // "@helpers": "./src/helpers",
        // "@assets": "./src/assets",
        // "@pages": "./src/pages",
        // "@store": "./src/store"
      }
    }]
  ]
}